
@{
    ViewData["Title"] = "LoginPage";
}

<h1>Welcome to your Account!</h1>

<button class="btn-light"><a class="btn" asp-area="" asp-controller="Store" asp-action="PickLocation">Pick a Location</a></button>


